.events-bar{
  position: absolute;
  bottom: 50px;
  width: 100%;
}


.events-bar>div {
  position: absolute;
  height: 50px;
  bottom: 0;
  border-left: 1px solid;
}

.events-bar>div:before {
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    background-color: white;
    border: 1px solid black;
    left: -4px;
}



.events-bar>div.b {
    height: 80px;
}


.events-bar>div.c {
    height: 65px;
}


.events-bar>div:after {
  content: attr(data-label);
    text-align: right;
    position: absolute;
    white-space: nowrap;
    top: -4px;
    background-color: black;
    color: white;
    padding: 1px 4px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba( 0, 0, 0, 0.3);
}

.events-bar>div.a:after{
  right: 6px;
}
.events-bar>div.b:after, .events-bar>div.c:after, .events-bar>div.d:after {
  left: 5px;
}

.e-today.today {
      width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
    top: 4px;
}

.e-today.today:after {
    top: 17px;
    right: -17px;
    background-color: black;
    color: white;
    border: none;
    text-shadow: none;
}

.e-today.today:before {
        width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    border-radius: 0;
    background-color: transparent;
    border-bottom: none;
    left: -6px;
    top: -12px;
}

.events-bar>div.past:before {
    background-color: black;
}

.events-bar>div.past {
    opacity: 0.3;
}

.events-bar>div.dplct:after {
    display: none;
}

.timeline-container .ui-ctrl-handle > span:after {
    color: black;
    text-shadow: 0 0 1px white, 0 0 5px white, 0 0 10px white;
    font-weight: 500;
    font-size: 20px;
    top: 30px;
}